@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.over{
  /* background-color:#B35346;  */
  background-image: url("https://cdn.shopify.com/s/files/1/0603/7232/0427/files/stark_home3-slide1.jpg?v=1633956706");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.logo{
  padding-bottom: 30px;
  margin-right: 20px;
}
.header{
  position: relative;
  padding: 34px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-items{
  display: flex;
  align-items: center;
  list-style: none;
  width: 522px;
  justify-content: space-between;
}
.header-item{
  position: relative;
  z-index: 10;
  font-size: 16px;
  /* font-weight: bold; */
}
.header-item1{
  position: relative;
  z-index: 10;
}
.header-item-link{
  /* position: relative; */
  display: flex;
  text-decoration: none;
  align-items:center;
  color: #fff;
  transition: all 0.4s ease;
  padding-bottom: 30px;
  font-weight: bold;
}
.header-item-link:hover::before{
  background-color:#e7af16;
  transform: scale(1);
}
.header-item1:hover .header-items-sonn{
  display: block;
  display: flex;
}

.header-item-link::before{
  content: '';
  position: absolute;
  top: 25px;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: all 0.4s ease;
  transform: scale(0);
}
.header-items-sonn{
  display: flex;
  display: none;
  width: 800px;
  position: absolute;
  left: -200px;
  list-style-type: none;
  justify-content: space-between;
  padding: 20px 10px 30px 10px;
  background-color: #fff;
  text-align: center;
}
.item-son-img{
  /* margin-bottom: 15px; */
  transition: all 0.4s ease;
  /* overflow: hidden; */
}
.item-son-text{
  position: relative;
}
.item-son-text::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -3px;
  left: 40px;
  width: 40px;
  height: 1.5px;
  background-color: #e06924;
}
.item-son-img:hover{
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.son-img-div{
  transition: all 0.4s ease;
  overflow: hidden;
  width: 120px;
  height: 110px;
  margin-bottom: 30px;
}

.header-icons{
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}




.header-item2{
  position: relative;
  z-index: 10;
}
.header-item2:hover .div-2-son{
  display: block;
}
.div-2-son{
  display: none;
  padding: 20px 30px;
  position: absolute;
  left: -300px;
  width: 900px;
  background-color: #fff;
}
.header-son-items2{
  display: flex;
  /* display: none; */
  list-style: none;
  /* padding: 20px; */
  /* justify-content: space-between; */
}
.header-item2-son-son{
  width: 90px;
  list-style: none;
  margin-right: 210px;
}
.son2-living{
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 25px;
}
.son2-living::before{
  content: '';
  position: absolute;
  bottom: -5px;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: #ca4c1e;
}
.sen2-tool{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.sen2-tool:hover{
  color: #ca4c1e;
}
.son2-tem-tool{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.son2-tem-tool::before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #000;
  margin-right: 4px;
}
.son2-img{
  transition: all 0.4s ease;
}
.son2-img-div{
  width: 860px;
  overflow: hidden;
}
.son2-img:hover{
  transition: all 0.4s ease;
  transform: scale(1.04);
}




.header-son3{
  position: relative;
}
.header-son3:hover .header-son3-items{
  display: block;
  display: flex;
}
.header-son3-items{
  position: absolute;
  left: -460px;
  display: flex;
  display: none;
  width: 950px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  list-style: none;
}
.header-son3-desc{
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
}
.header-son3-div{
  overflow: hidden;
  transition: all 0.3s ease;
}
.header-son3-img{
  transition: all 0.3s ease;
}
.header-son3-div:hover .header-son3-img{
  transition: all 0.3s ease;
  transform: scale(1.06);
}




/* END OF HEADER */







/* MODAL */
.modal1{
  font-family: 'Barlow Condensed', sans-serif;
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  transition: 0.5s ease;
  height: 0;

  animation: myanimation 1s ease 0s 1 normal forwards ;
  /* animation-direction: alternate; */

}
@keyframes myanimation{
  0%{
    animation-timing-function: ease;
    opacity: 0;
    transform: translateY(-800px);
  }
  38%{
    animation-timing-function: ease;
    opacity: 0.4;
    /* transform: translateY(-250px); */
  }
  100%{
    animation-timing-function: ease;
    opacity: 1;
    transform: translateY(0);
  }
}


.contaner-modal{
  width: 90%;
  margin: 0 auto;
}
.modal-up{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.modal-up-text{
  color: #000;
  font-size: 20px;
}
.modal-up-x{
  /* font-size: 35px; */
  text-decoration: none;
  color: #2b2929;
}
.modal-up-x:hover{
  color: #e06924;
}
.modal-down{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.modal-down-input{
  width: 100%;
  height: 100px;
  font-size: 40px;
  padding: 10px 0;
  border-color: transparent;
  border-bottom: 3px solid #000;
  outline: none;
}
.modal1-search{
  position: absolute;
  right: 80px;
}
.modal1-no{
  font-size: 20px;
}


.close:hover {
  color: #e06924;
}
.bx-x{
  font-size: 50px;
}
.bx-search{
  font-size: 40px;
}


.modal2{
  background-color: #fff;
  padding: 20px;
  width: 360px;
  height: 100vh;
  position: fixed;
  /* transform: translate(1200px); */
  font-family: 'Barlow Condensed', sans-serif;
  /* position: absolute; */
  /* right: -500px; */
  display: none;
  animation-name: m;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  transition: all 0.5s ease;
  z-index: 100;
}

@keyframes m{
  0%{
    animation-timing-function: ease;
    opacity: 0;
    transform: translate(1700px);
    transition: all 0.4s ease;
  }
  100%{
    animation-timing-function: ease;
    transition: all 0.4s ease;
    opacity: 1;
    transform: translateX(1175px);
  }
}




.modal2-imgx{
  width: 30px;
  height: 30px;
  background-image: url('../img/x-bx.svg');
  padding: 12px;
  background-color: #F2F2F2;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
  margin-right: 220px;
  z-index: 100;
}

.contaner-modal2{
  width: 360px;
  margin: 0 auto;
}
.modal2-links{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.modal2-sign-ing{
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.modal2-span{
  display: inline-block;
  width: 2px;
  height: 18px;
  background-color: #E6E6E6;
}
.modal2-register{
  font-size: 16px;
  text-decoration: none;
  color: #999;
}
.modal2-input1{
  width: 100%;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
}
.modal2-sign-in{
  text-decoration: none;
  padding: 10px 140px;
  background-color: #000;
  color: #fff;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 4px;
}
.modal2-sign-in:hover{
  background-color: #e0921e;
}
.modal2-forgot{
  display: inline-block;
  text-decoration: none;
  margin-right: 180px;
  color: #999;
  font-size: 18px;
  margin-bottom: 14px;
}
.modal2-forgot:hover{
  color: #e0921e;
}
.modal2-compare{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  margin-right: 200px;
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}
.modal2-compare:hover{
  color: #e0921e;
}
.modal2-compare:hover::before{
  color: #e0921e;
}
.modal2-compare::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/collap.svg');
  margin-right: 5px;
}
.modal2-spann{
  width: 100%;
  height: 1px;
  background-color: #cac2c2;
  display: inline-block;
  margin-bottom: 5px;
}
.modal2-wish{
  text-decoration: none;
  font-size: 20px;
  color: #000;
  margin-right: 200px;
  display: flex;
  align-items: center;
}
.modal2-wish:hover{
  color: #e0921e;
}
.modal2-wish::before{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../img/bxs-heart.svg');
  margin-right: 5px;
}
#lmodal2{
  width: 320px;
  height: 40px;
  border: none;
  font-size: 20px;
  outline: none;
}
#lmodal2:hover{
  color: #e0921e;
}
#modal2-valyuta{
  width: 320px;
  height: 40px;
  border: none;
  font-size: 20px;
  outline: none;
}
#modal2-valyuta:hover{
  color: #e06924;
}




.hero{
  position: relative;
  /* background: cover;
  background-repeat: no-repeat; */
  object-fit: cover;
  /* background-image: url('https://cdn.shopify.com/s/files/1/0603/7232/0427/files/stark_home3-slide1.jpg?v=1633956706'); */
}
.hero-img{
  /* width: 800px;
  height: 300px; */

}
.hero-contents{
  /* border: 2px solid #000; */
  position: absolute;
  /* position: relative; */
  /* border: 2px solid black; */
  left: 570px;
  /* margin: 0 auto; */
  /* text-align: center; */
  margin-top: 200px;
  width: 374px;
  /* overflow: hidden; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */


  width: 0;
  animation-name: chiq;
  animation-iteration-count: inherit;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;

  /* height: 150px; */
  white-space: nowrap;
}
@keyframes chiq{
  0%{
    width: 0;
  }
  100%{
    width: 374px;
  }
}

.hero-text{
  /* text-align: center; */
  font-size: 16px;
  /* transform: translateX(-145px); */
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-left: 130px;
  overflow: hidden;
  /* margin: 0 auto; */

  animation-name: chiqish;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-duration: 2s;
  /* width: 0; */

  /* height: 20px; */
  white-space: nowrap;
}
/* @keyframes chiqish{
  0%{
    transform: translate(-145px);
  }
  100%{
    transform: translate(0);
  }
} */
.hero-content{
  text-align: center;
  /* transform: translateX(-370px); */
  font-size: 50px;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 25px;
  overflow: hidden;

  animation-name: chiqish2;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  white-space: nowrap;
  /* width: 0; */
  /* height: 50px; */
}
/* @keyframes chiqish2{
  0%{
    transform: translate(-370px);
  }
  100%{
    transform: translate(0px);
  }
} */

/* .flur{
  position: absolute;
  height: 50px;
  width: 100%;
  right: 100px;
  box-shadow: inset -31px 1px 15px -1px rgb(97, 20, 220);
} */

.hero-link-div{
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 350px;
}
.hero-link{
  text-decoration: none;
  /* margin: 0 auto; */
  padding: 10px 20px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
 
}






.ohirgi-item{
  font-family: 'Barlow Condensed', sans-serif;
  width: 33%;
  background-color: #F0E8D3;
  /* border: 2px solid #000; */
}

.ohirgi-item2{
  font-family: 'Barlow Condensed', sans-serif;
  width: 33%;
  background-color: #F9F9F9;
  /* border: 2px solid #000; */
}
.ohirgi-item3{
  font-family: 'Barlow Condensed', sans-serif;
  width: 33%;
  background-color: #D1F1EE;
  /* border: 2px solid #000; */
}
.oxirgi-div{
  position: relative;
  margin: 30px 150px 30px 30px ;
}
.limited{
  color: #888;
  font-size: 16px;
  margin-bottom: 10px;
}
.minimal{
  width: 80px;
  font-size: 60px;
  color: rgb(27, 26, 26);
  margin-bottom: 10px;
}
.ohoirgi-linkk{
  text-decoration: none;
}
.discover-link{
  text-decoration: none;
  color: #000;
}
.span-disco{
  width: 100%;
  height: 2px;
  background-color: #ca4c1e;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 200px;
}
/* .ohirgi-img-div:hover .ohirgi-igm{
  transform: scale(1.1);
} */
/* .ohirgi-igm{
  trans
} */
.ohirgi-items{
  list-style: none;
  margin-bottom: 80px;
}
.oxirgi-img-div{
  transition: all 1s ease;
}
.oxirgi-img{
  transition: all 1s ease;
}
.oxirgi-img-div:hover .oxirgi-img{
  transform: scale(1.1) translate(20px);
  transition: all 1s ease;
}







.furmiture-div{
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
}
.furmiture{
  text-decoration: none;
  font-size: 16px;
  color: #888;
}
.activ-furmiture{
  color: #000;
  position: relative;
}
.activ-furmiture::before{
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #b47542;
  position: absolute;
  bottom: -5px;
}
.activ-furmiture2{
  color: #888;
  position: relative;
}
.activ-furmiture3{
  color: #888;
  position: relative;
}
.activ-furmiture2::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 4px;
  background-color: #b47542;
  position: absolute;
  bottom: -5px;
  transition: all 0.4s ease;
}
.activ-furmiture2:hover{
  color: #000;
}
.activ-furmiture2:hover::before{
  width: 100%;
}
.activ-furmiture3::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 4px;
  background-color: #b47542;
  position: absolute;
  bottom: -5px;
  transition: all 0.4s ease;
}
.activ-furmiture3:hover{
  color: #000;
}
.activ-furmiture3:hover:before{
  width: 100%;
}


.desig-sale-div{
  position: absolute;
  top: 15px;
  left: 20px;
}
.design-sale{
  padding: 3px 5px;
  background-color: red;
  color: #fff;
  font-size: 14px;
}
.design-sale2{
  padding: 3px 5px;
  background-color: #10d3da;
  color: #fff;
  font-size: 14px;
}
.des-sale{
  position: absolute;
  top: 15px;
  left: 20px;
  padding: 3px 10px;
  background-color: #10d3da;
  color: #fff;
  font-size: 14px;
}
.design-items{
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  list-style: none;
  margin-bottom: 80px;
}
.design-item{
  width: 280px;
  height: 350px;
  transition: all 0.5s ease;
  margin-bottom: 100px;
  cursor: pointer;
  position: relative;
  /* background-image: url('https://rubiktheme.com/demo/rb_stark_demo/24-home_default/hummingbird-printed-t-shirt.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover; */
}
.bg-img{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/25-home_default/hummingbird-printed-t-shirt.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/24-home_default/hummingbird-printed-t-shirt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img2{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/27-home_default/brown-bear-printed-sweater.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img2{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/28-home_default/brown-bear-printed-sweater.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img3{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/30-home_default/the-best-is-yet-to-come-framed-poster.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img3{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/31-home_default/the-best-is-yet-to-come-framed-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img4{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/33-home_default/the-adventure-begins-framed-poster.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img4{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/25-home_default/hummingbird-printed-t-shirt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img5{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/36-home_default/today-is-a-good-day-framed-poster.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img5{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/37-home_default/today-is-a-good-day-framed-poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img6{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/41-home_default/mug-the-best-is-yet-to-come.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img6{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/42-home_default/mug-the-best-is-yet-to-come.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img7{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/43-home_default/mug-the-adventure-begins.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img7{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/44-home_default/mug-the-adventure-begins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img8{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/46-home_default/mug-today-is-a-good-day.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img8{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/45-home_default/mug-today-is-a-good-day.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img9{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/53-home_default/mountain-fox-cushion.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.2s ease;
}
.design-item:hover .bg-img9{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/54-home_default/mountain-fox-cushion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img10{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/57-home_default/brown-bear-cushion.jpg');
  width: 280px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.design-item:hover .bg-img10{
  background-image: url('https://rubiktheme.com/demo/rb_stark_demo/56-home_default/brown-bear-cushion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.d-item{
  margin-left: 10px;
  cursor: pointer;
}
.de-item{
  cursor: pointer;
}
.design-item:nth-child(5){
  margin-right: 10px;
}
.design-item:nth-child(6){
  margin-left: 10px;
}
.design-item:nth-child(10){
  margin-right: 10px;
}
.a-studio-link{
  font-size: 16px;
  text-decoration: none;
  color: #A3A3A3;
  margin-bottom: 5px;
}
.a-studio-link:hover{
  color:#e0921e;
}
.a-studio-link2{
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
.a-studio-link2:hover{
  color: #b47542;
}
.design-img{
  margin-bottom: 10px;
}
.design-23{
  color: #888;
  font-size:16px;
  text-decoration: line-through;
}
.a-studio-p{
  margin-bottom: 10px;
}
.design-19{
  font-size:18px;
  margin-left: 4px;
}
.design-son-items{
  list-style: none;
  width: 170px;
  position: relative;
}

.design-son-item:hover{
  background-color: #ce7024;
}
.design-son-item0{
  padding: 12px 10px 5px 10px;
  background-color: #000;
  position: absolute;
  bottom: 35px;
  left: 60px;
  transition-delay: 0.1s;
  transition: all 0.2s ease;
  opacity: 0;

}
.design-son-item2{
  padding: 12px 10px 5px 10px;
  background-color: #000;
  position: absolute;
  bottom: 35px;
  left:115px;
  transition-delay: 0.1s;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.design-son-item3{
  padding: 12px 10px 5px 10px;
  background-color: #000;
  position: absolute;
  bottom: 35px;
  left:170px;
  transition-delay: 0.1s;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.de-item:hover .design-son-item0{
  bottom: 28px;
  opacity: 1;
}

.de-item:hover .design-son-item2{
  bottom: 28px;
  opacity: 1;
}
.de-item:hover .design-son-item3{
  bottom: 28px;
  opacity: 1;
}

.d-item:hover .design-son-item0{
  bottom: 28px;
  opacity: 1;
}

.d-item:hover .design-son-item2{
  bottom: 28px;
  opacity: 1;
}
.d-item:hover .design-son-item3{
  bottom: 28px;
  opacity: 1;
}

.view-link{
  padding: 16px 70px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  border: 2px solid #2b2929;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.view-link-ota{
  width: 100%;
  display: flex;
}
.view-link:hover{
  border: 2px solid transparent;
  background-color: #e0921e;
  color: #fff;
}



/* end of part hardly  */


.blog-contact{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 46px;
  margin-bottom: 16px;
  text-align: center;
}
.blog-text{
  text-align: center;
  color: #B6B6B6;
  font-size: 16px;
  margin-bottom: 30px;
}
.blog-items{
  width: 84%;
  margin: 0 auto;
  list-style: none;
}
.blog-item{
  width: 33%;
  margin-bottom: 100px;
}
.blog-img-div{
  margin-bottom: 12px;
}
.blog-item-text1{
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}
.blog-item-text1:hover{
  color:  #e28c45;
}
.blog-item-text2{
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
}
.blog-item-text3{
  font-size: 14px;
  color: #888;
  margin-bottom: 12px;
}
.blog-link{
  color: #888;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}
.blog-link:hover{
  color: #f89e53;
}
.blog-link:hover::before{
  background-color: #f89e53;
}
.blog-link::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0.7px;
  background-color: #000;
  bottom: -5px;
}
.blog-img-div{
  width: 407px;
  height: 301px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}
.blog-item-img{
  transition: all 0.7s ease;
}
.blog-img-div:hover .blog-item-img{
  /* transform: scale(2); */
  /* transform: skew(-4deg) scale(1.1); */
  transform: scale(1.07, 1.07) rotate(2deg);
  transition: all 0.7s ease;
}
.view-all-link{
  font-size: 16px;
  padding: 11px 55px;
  border: 2px solid #b8b8b8;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
}
.viewall-div{
  width: 100%;
  display: flex;
  margin-bottom: 80px;
}
.view-all-link:hover{
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
}





.rubic-content{
  background-color: #F7F7F7;
}
.rubic-items{
  width: 80%;
  margin: 0 auto;
  list-style: none;
  padding: 20px 0;
  overflow: hidden;
  /* background-color: tomato; */
  display: flex;

}
.rubic-item{
  animation-name: rotat;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  /* animation-timing-function: linear; */
  /* animation-timing-function: ; */
  animation-delay: 5s;
  
}
@keyframes rotat{
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-320px);
    animation-delay: 5s;
  }
  100%{
    transform: translate(-720px);
  }
}
.rubic-item:not(:last-child){
  margin-right: 70px;
}





.footer{
  background-color: #23282E;
}
.footer-logo{
  margin-bottom: 50px;
  margin: 0 auto;
  margin-bottom: 30px;

}
.footer-div{
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-inputs{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 50px;
  margin-bottom: 30px;
}
.footer-input-text{
  /* height: 100%; */
  padding: 17px 27px;
  /* width: 20%; */
  background-color:#fff;
  align-items: center;
  color: #000;
  font-size: 14px;
  border: none;
  box-sizing: border-box;
  position: relative;
}
.footer-input-text::after{
  content: '';
  display: inline-block;
  position: absolute;
  width: 0.5px;
  height: 30px;
  background-color: #d1cfcf;
  left: 142px;
  top: 10px;
}
.footer-input{
  width: 60%;
  height: 100%;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  border-radius: none;
  box-sizing: border-box;
  border: 0;
}
.footer-input-button{
  width: 20%;
  height: 100%;
  color: #fff;
  background-color: #000;
  border: none;
}
.footer-input-button:hover{
  background-color:#e0921e;
}
.footer-icons{
  list-style: none;
  margin: 0 auto;
  margin-bottom: 60px;
}
.footer-icon:not(:last-child){
  margin-right: 15px;
}
.footer-icon-link{
  padding: 6px 2px 1px 2px;
  border-radius: 3px;
  background-color: #fff;
}
.footer-contacts{
  list-style: none;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 30px;
}
.footer-contact-item:not(:last-child){
  margin-right: 20px;
}
.footer-contact-liks{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.footer-contact-liks:hover{
  color: #b47542;
}
.footer-span{
  width: 100%;
  display: inline-block;
  height: 0.1px;
  background-color: #4d4d4d;
  margin-bottom: 30px;
}
.footer-eco-div{
  margin-bottom: 30px;
}
.footer-soft{
  color: #fff;
  font-size: 12px;
  margin-right: 600px;
  margin-left: 200px;
}
.f-messenger{
  padding: 5px 3px 1px 5px;
  background-color: blue;
  border-radius: 50%;
  position: fixed;
  right: 25px;
  bottom: 25px;
}



/* modal */


.modal-messenger{
  width: 300px;
  background-color:#fff;
  padding: 30px 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  position: fixed;
  bottom: 88px;
  right: 40px;
  transition: all 0.5S ease;
}
.row-mes{
  margin-bottom: 15px;
}
.modal1-content{
  font-size: 18px;
}
.modal1-text1{
  font-size: 14px;
  color: #4d4d4d;
  margin-bottom: 5px;
}
.modal1-text2{
  font-size: 16px;
  margin-bottom: 15px;
}
.modal1-link{
  display: inline-block;
  padding: 11px 55px;
  color: #fff;
  background-color: blue;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.modal1-link2{
  display: inline-block;
  padding: 11px 66px;
  color: #000;
  background-color:#F2F2F2;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;

}

.modal1-by{
  font-size: 14px;
  color: #7F7F7F;
  text-align: center;
}
.modal1-guest{
  color: #000;
  text-decoration: none;
}

.toggl{
  display:none ;
}


.modal22{
  position:fixed;
  top: 30px;
  left: 400px;
  display: none;
  animation-name: modal22;
  animation-duration: 1s;
  /* animation-iteration-count:infinite; */
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes modal22{
  0%{
    top: 0px;
  }
  100%{
    top: 30px;
  }
}
.modal22df{
  width: 750px;
  height: 440px;
  /* display: flex; */
  padding-bottom: 16px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modall22-display{
  display: flex;
}
.modal22-mug{
  color: #7F7F7F;
  font-size: 16px;
  margin-bottom: 10px;
}
.modal22-img{
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
}
.modal22-pro-link{
  display: inline-block;
  padding: 15px 137px;
  text-decoration: none;
  background-color: #F11D22;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.modal22-pro-link:hover{
  background-color: #d3171a;
}
.modal22-pro-linkk{
  display: inline-block;
  padding: 15px 153px;
  text-decoration: none;
  background-color: #E7E7E7;
  color: #414141;
  font-size: 14px;
  margin-bottom: 10px;
}
.modal22-pro-linkk:hover{
  background-color: #c7c3c3;
}
.modall22-div{
  display: flex;
  flex-wrap: wrap;
}
.modal22-product{
  padding: 16px 20px 20px 20px;
  /* display: inline-block; */
  background-color: #333;
  color: #fff;
}
.modal22-muff{
  margin-top: 60px;
}
.modal22-mugg:hover{
  color: #b47542;
}
.modal22-befor{
  margin-right: 310px;
}
/* .modal22-befor::before{
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  background-image: url('../img/checked.svg');
  cursor: pointer;
}
.modal22-befor::after{
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
  left: 300px;
  margin-right: 5px;
  background-image: url('../img/x.svg');
  cursor: pointer;
} */






